certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
et-xmlfile==1.1.0
etree==0.0.1
idna==2.10
loguru==0.5.3
lxml==4.6.3
numpy==1.20.2
opencv-python==4.5.2.52
openpyxl==3.0.7
pandas==1.2.4
PyQt5==5.14.1
pyqt5-plugins==5.14.1.1
PyQt5-sip==12.8.1
pyqt5-tools==5.14.1.2
pyspark==2.4.2
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
qt5-applications==5.14.1.1
requests==2.25.1
selenium==3.141.0
six==1.16.0
urllib3==1.26.4
win32-setctime==1.0.3
xlrd==2.0.1
